.body {
    letter-spacing: .0625em;
}

.masthead {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 15rem 0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.3)),color-stop(75%,rgba(22,22,22,.7)),to(#161616)),url(../img/spider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.masthead h1 {
    color: rgb(213, 214, 215, 0.6);
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: .8rem;
}
.masthead h2 {
    color: rgba(255,255,255,.6);
    max-width: 30rem;
    font-size: 1.25rem;
}


/* PROJECTS */
.projects-section {
    padding: 10rem 0;
}
.bg-black {
    background-color: #161616!important;
}
.projects-section .project-text {
    padding: 5rem;
    font-size: 90%;
}
.projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
}



/* END OF PROJECTS */

/* FOOTER */
#footer {
    background: #161616;
    text-align: center!important;
}
#footer .copyright {
    font-size: 1rem;
    color: #FFFFFF!important;
}
/* END OF FOOTER */